# **Clean and Prep EASD Race Results**

Run on Python 3.12 | No errors | No warnings

In [1]:
# Import packages

# For data manipulation
import pandas as pd

# for displaying and modifying the working directory
import os as os

In [2]:
# Tell python where to find the dataset and load it to dataframe df0
os.chdir(r'D:\OneDrive\Documents\Python\Current\Race Results') # absolute path, using \ and r prefix
df0 = pd.read_csv("EASD_race_results.csv", usecols=['Name', 'Gender', 'Country', 'Time'])

# Display the first 5 rows of the dataframe
df0.head()

                                   Name  Gender Country      Time
0  Muntasir Ahmad Abdul Kareem Alzghoul    Male      JO  00:14:45
1                       Darelle Andrade    Male      PH  00:14:45
2                          Mohamed Awny    Male      EG  00:14:45
3                      Bojana Bogojevic  Female      RS  00:14:45
4                        Ephraim Joshua    Male      TZ  00:14:45

In [3]:
# Display basic information about the data 
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4461 entries, 0 to 4460
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     4461 non-null   object
 1   Gender   4461 non-null   object
 2   Country  4458 non-null   object
 3   Time     4461 non-null   object
dtypes: object(4)
memory usage: 139.5+ KB

In [4]:
# Count the number of duplicate rows
df0.duplicated().sum()

np.int64(31)

In [5]:
# Drop duplicate rows
df0 = df0.drop_duplicates()

In [6]:
# Verify that the duplicates have been removed
df0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4430 entries, 0 to 4460
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     4430 non-null   object
 1   Gender   4430 non-null   object
 2   Country  4427 non-null   object
 3   Time     4430 non-null   object
dtypes: object(4)
memory usage: 173.0+ KB

In [7]:
# Add a column for the year
df0['Year'] = 2024

In [8]:
# Add a column for the race name
df0['Race'] = 'EASD'

In [9]:
# Drop the Name column
df0 = df0.drop(columns=['Name'])

In [10]:
# Verify the changes
df0.head()

   Gender Country      Time  Year  Race
0    Male      JO  00:14:45  2024  EASD
1    Male      PH  00:14:45  2024  EASD
2    Male      EG  00:14:45  2024  EASD
3  Female      RS  00:14:45  2024  EASD
4    Male      TZ  00:14:45  2024  EASD

In [11]:
# Drop the rows with missing values for Country
df0 = df0.dropna(subset=['Country'])

In [12]:
# Replace blank values in 'Gender' column with 'Not Specified'
df0.fillna({'Gender': 'Not Specified'}, inplace=True)

In [13]:
# Rename Country to Country Code
df0 = df0.rename(columns={'Country': 'Country Code'})

In [14]:
# Change the column order
df0 = df0[['Race', 'Year', 'Country Code', 'Gender', 'Time']]

In [15]:
# Verify the changes
df0.head()

   Race  Year Country Code  Gender      Time
0  EASD  2024           JO    Male  00:14:45
1  EASD  2024           PH    Male  00:14:45
2  EASD  2024           EG    Male  00:14:45
3  EASD  2024           RS  Female  00:14:45
4  EASD  2024           TZ    Male  00:14:45

In [16]:
# Check the record count
df0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4427 entries, 0 to 4460
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Race          4427 non-null   object
 1   Year          4427 non-null   int64
 2   Country Code  4427 non-null   object
 3   Gender        4427 non-null   object
 4   Time          4427 non-null   object
dtypes: int64(1), object(4)
memory usage: 207.5+ KB

In [17]:
# Load data for previous years
df1 = pd.read_csv("EASD Race Data 2023.csv")

In [18]:
# Concatenate the dataframes
df2 = pd.concat([df0, df1])

In [19]:
# Verify the changes
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11155 entries, 0 to 6727
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Race          11155 non-null  object
 1   Year          11155 non-null  int64
 2   Country Code  11155 non-null  object
 3   Gender        11155 non-null  object
 4   Time          11155 non-null  object
dtypes: int64(1), object(4)
memory usage: 522.9+ KB

In [20]:
# Display the first 5 rows
df2.head()

   Race  Year Country Code  Gender      Time
0  EASD  2024           JO    Male  00:14:45
1  EASD  2024           PH    Male  00:14:45
2  EASD  2024           EG    Male  00:14:45
3  EASD  2024           RS  Female  00:14:45
4  EASD  2024           TZ    Male  00:14:45

In [21]:
# Sort df2 by Race and Year
df2 = df2.sort_values(by=['Race', 'Year'])

In [22]:
# Verify the changes
df2.head()

   Race  Year Country Code  Gender      Time
0  EASD  2023           CO    Male  00:14:45
1  EASD  2023           EG  Female  00:14:45
2  EASD  2023           TN    Male  00:14:45
3  EASD  2023           IT    Male  00:14:45
4  EASD  2023           KE    Male  00:14:45

In [23]:
# Save the cleaned data to a new csv file
df2.to_csv('EASD Race Data for Visualization.csv', index=False, encoding='utf-8')